/* Add these styles to your existing CSS file or in a <style> tag in your HTML */

/* Navbar container styling */
.navbar {
    background-color: #343a40;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .navbar-nav  a.nav-link {
    color: black
  }
  
  
  /* Navbar links styling */
  .navbar-nav .nav-link {
    color: #ffffff; /* Text color */
    margin-right: 15px; /* Adjust the space between links */
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .navbar-nav .nav-link:hover {
    color: #17a2b8; /* Hover color */
  }
  
  /* Navbar toggle button styling */
  .navbar-toggler-icon {
    background-color: #ffffff; /* Toggle button color */
  }
  
  /* Active link styling */
  .navbar-nav .nav-item.active .nav-link {
    font-weight: bold; /* Make the active link bold */
  }
  
  /* Search form styling */
  form[role="search"] {
    margin-left: auto; /* Align search form to the right */
  }
  
  
  
  
   
  