<nav class="navbar navbar-expand-lg  bg-light fixed-top" data-bs-theme="dark">
    <div class="container-fluid" style="height: 70px;">
      <img src="assets/Images/pr_logo.jpg" alt="" srcset="" style="height: 45px; border-radius: 50px;"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink="home"><h2 style="margin-left: 40px;">Home</h2>
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="login"><h2>Login</h2></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="aboutus"><h2 >About-Us</h2></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="contactus"><h2 >Contact-Us</h2></a>
          </li>
          
          
           
          <li class="nav-item">
            <a class="nav-link" routerLink="cart"><h2 style=" margin-left: 750px;">Cart <i class="bi bi-cart3"></i></h2></a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"> 
                    <a  class="nav-link" routerLink="logout"><h2>Logout <i class="bi bi-power"></i></h2></a>
                </li>
            </ul>
          
        </form>
        <!-- <ul class="navbar-nav me-auto" *ngIf="isLoggedIn; else loginSection">
          <li class="nav-item">
            <a class="nav-link" routerLink="logout" (click)="logout()"><h2>Logout <i class="bi bi-power"></i></h2></a>
          </li>
        </ul>
        <ng-template #loginSection>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="login" (click)="login()"><h2>Login</h2></a>
            </li>
          </ul>
        </ng-template> -->
      </div>
    </div>
  </nav>
  

   