<!-- <div class="container mt-4">
    <h1>Hot Cofees with Indo & Italian Style :</h1><br>
    <div class="row">
      
      <div class="col-md-4">
        <div class="card">
          <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Small/100385.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Caramel Macchiato</h5>
            <p class="card-text">Freshly steamed milk with vanilla-flavored syrup is marked w...</p>
            <button>Add To cart</button>
          </div>
        </div>
      </div>
      
     
      <div class="col-md-4">
        <div class="card">
          <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Small/104068.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chocolate Cappuccino</h5>
            <p class="card-text">Dark, Rich in flavour espresso and bittersweet cocoa lies in...</p>
            <button>Add To cart</button>
            
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4">
        <div class="card">
          <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Small/100377.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Caffee Latte</h5>
            <p class="card-text">Our dark, Rich in flavour espresso balanced with steamed mil...</p>
            <button>Add To Cart</button>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-4">
        <div class="card">
          <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Small/107933.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hazelnut Cortado</h5>
            <p class="card-text">A perfect espresso shot and hazelnut syrup, topped with stea...</p>
            <button>Add To cart</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Small/100433.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Caffee Americano</h5>
            <p class="card-text">Rich in flavour, full-bodied espresso with hot water in true...</p>
            <button>Add To cart</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Small/100511.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Solo Espresso</h5>
            <p class="card-text">Our smooth signature Espresso Roast and its caramelly sweetn...</p>
            <button>Add To cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>

 -->

 <div class="container mt-4">
  <h1>Hot Coffees with Indo & Italian Style :</h1><br>
  <div class="row">
    <div class="col-md-4" *ngFor="let coffee of coffees">
      <div class="card">
        <img [src]="coffee.image" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ coffee.name }}</h5>
          <p class="card-text">{{ coffee.description }}</p>
          <p class="card-text">{{ coffee.price }}</p>

          <!-- Add To Cart button -->
          <button class="btn btn-primary" (click)="addToCart(coffee)">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

