<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Contact Us</h1>
    </div>
    <div class="main-content">
      <div class="contact-section">
        <h2>Get in Touch</h2><br>
        <p>If you have any inquiries or feedback, feel free to contact us using the form below.</p>
        <form (ngSubmit)="onSubmit()" class="contact-form">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required [(ngModel)]="formData.name">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required [(ngModel)]="formData.email">
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="5" required [(ngModel)]="formData.message"></textarea>
          <button type="submit">Send Message</button>
        </form>
        
        
        <!-- <div *ngIf="showResponseMessage" class="response-message">Your response has been recorded.</div> -->
        
      </div><br>
      <i><h2 style="margin-left: 50px;">Meet Our Founders :</h2></i><br><br>
      <div class="founders-section">
       
        <div class="founder">
          <img src="assets/Images/My_Image_2023.png" alt="Founder 1">
          <i><h3>Chandra Mouli</h3></i>
          <p>Co-founder & CEO</p>
          <p> Graduated from Cambridge University</p>
        </div>
        <div class="founder">
          <img src="assets/Images/Dileep.jpg" alt="Founder 2">
          <i><h3>Dillep</h3></i>
          <p>Co-founder & COO</p>
          <p> Graduated from Stanford University</p>
        </div>
        <div class="founder" id="spa">
          <img src="assets/Images/spandhan.jpg" alt="Founder 3">
         <i> <h3>Spandhan Reddy</h3></i>
          <p>Co-founder & CTO</p>
          <p> Graduated from Harvard University</p>
        </div>
      </div>
      <h2 style="margin-left: 50px;"><i>Meet Our Community :</i></h2>
      <div class="best-employees-section">
       
        <div class="best-employee">
          <img src="assets/Images/Nilesh.jpg" alt="Best Employee 1">
          <h3>Nilesh</h3>
          <p>Marketing Head</p>
          <p>Graduated from MIT</p>
        </div>
        <div class="best-employee">
          <img src="assets/Images/Bhanu.jpg" alt="Best Employee 2">
          <h3>Bhanu Teja</h3>
          <p>Marketing Manager</p>
          <p>Graduated from Columbia University</p>
        </div>
        <div class="best-employee">
          <img src="assets/Images/ajay.jpg" alt="Best Employee 2">
          <h3>Ajay Naidu</h3>
          <p>Marketing  Director</p>
          <p>Graduated from  California University</p>
        </div>
        <div class="best-employee">
          <img src="assets/Images/Shamseer.jpg" alt="Best Employee 2">
          <h3>Shamsheer Khan</h3>
          <p>Manager</p>
          <p>Graduated from Chicago  University</p>
        </div>
        <!-- Add more best employee entries as needed -->
      </div>
    </div>
    
    <div class="footer">
        <p>&copy; 2024 Brew Caffe India. All rights reserved.</p>
        <div class="additional-info">
            <p>123 Cafe Street, Cityville, Country</p>
            <p>Phone: +123 456 7890</p>
          </div>
          
        <!-- <div class="social-links">
          <a href="#" target="_blank">Facebook</a>
          <a href="#" target="_blank">Twitter</a>
          <a href="#" target="_blank">LinkedIn</a>
          <a href="#" target="_blank">Instagram</a>
        </div> -->
        
      </div>
      
  </div>
</body>
</html>
