/* Reset or Normalize CSS */
body,
h1,
h2,
h3,
p,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-section,
.founders-section {
  margin-bottom: 30px;
}

.contact-form {
  margin-top: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 8px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}

.founders-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.founder {
  margin: 10px;
  text-align: center;
}

.founder img {
  width: 150px;
  border-radius: 40%;
  margin-bottom: 10px;
}
#spa img{
  width: 120px;
  height: 175px;
  border-radius: 40%;
  margin-bottom: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }

  .footer p {
    margin: 10px 0;
  }

  .footer .social-links {
    margin-top: 10px;
  }

  .footer .social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer .social-links a:hover {
    color: #0056b3;
  }
/* Contact Form Styles */
.contact-section {
    margin-bottom: 30px;
  }
  
  .contact-form {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #333;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }
  
  /* Optional: Responsive Styles */
  @media (max-width: 768px) {
    .contact-form {
      padding: 15px;
    }
  
    .contact-form input,
    .contact-form textarea {
      padding: 8px;
    }
  
    .contact-form button {
      padding: 8px 15px;
    }
  }
/* Contact Us Section Styles */
.contact-us-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .contact-us-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  
  .response-message {
    margin-top: 10px;
    color: green;
  }
  .best-employees-section {
    margin-top: 50px;
    text-align: center;
  }

  .best-employee {
    display: inline-block;
    margin: 20px;
  }

  .best-employee img {
    width: 150px;
    height: 150px;
    border-radius: 40%;
  }