/* Reset or Normalize CSS */
body,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

h1,
h2,
p {
  margin-bottom: 15px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 16px;
}
.header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.main-content {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.footer  {
  margin: 10px 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.section p {
  color: #666;
  line-height: 1.6;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
  border-radius: 8px;
}

.footer p {
  margin: 10px 0;
}