<div class="container">
  <form #empForm="ngForm" (ngSubmit)="getEmpById(empForm.value)">
      Show Employee By Id :   <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <br><br>

      <input type="number" name="empId" ngModel > <br>

      <input type="submit" value="Show Employee">
  </form>
</div>
<div *ngIf="emp">
<table border="2" align="center">
    <tr>
        <th> Emp Id </th>
        <th> Emp Name </th>
        <th> Salary </th>
        <th> Gender </th>
        <th> DOJ </th>
        <th> Experience </th>
        <th> Email Id </th>
        <th> Password </th>
    </tr>

    <tr >
        <td> {{ emp.id }} </td>
        <td> {{ emp.name }} </td>
        <td> {{ emp.salary }} </td>
        <td> {{ emp.gender }} </td>
        <td> {{ emp.doj }} </td>
        <td> {{ emp.emailId }} </td>
        <td> {{ emp.password }} </td>
    </tr>

</table>
</div>
