.container {
  max-width: 80%;
  margin: 0 auto;
  
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
}

.card-header h3 {
  margin: 0;
  font-size: 25px;
  color: #333;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.input-group-addon {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-right: none;
  padding: 8px 15px;
  border-radius: 5px 0 0 5px;
  width: 40px; /* Example width */
  height: 40px; /* Example height */
}

.input-group-addon i {
  color: #333;
}

.form-control {
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 5px 5px 0;
  width: calc(100% - 40px); /* Example width calculation */
  height: 40px; /* Example height */
}

.btn-primary {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
  width: 100%;
  height: 40px; /* Example height */
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
