<!-- <div>
    <div class="div" style="margin-top :100px;">
    <form #loginForm="ngForm" (ngSubmit)="loginValidate(loginForm.value)">
        <h2>Login</h2><br>
        <label for="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email :
        </label>
        <input type="text" class="form-control" name="email" ngModel
        #emailId="ngModel" required minlength="6" maxlength="30"/> 
    
        <label for="password"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> password
        </label>
        <input type="password" class="form-control" name="pass" ngModel 
        #password="ngModel" required minlength="8" maxlength="16"/>

    
        <button type="submit" value="Login" style="float: left;">Login</button>
      
        <a href="register" style="float: right;margin-top: 10px; margin-right: 50px;"><h5>Don't have account?</h5></a>
      
    
      </form>
      </div>
      
    <div align="center">
    <div *ngIf="emailId.errors?.['required'] && emailId.touched"><p style="color: red;">Please enter valid email</p></div>
    <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"><p style="color: red;">Please enter at least 6 characters for email</p></div>
    <div *ngIf="password.errors?.['minlength'] && password.touched"><p style="color: red;">Please enter at least 8 characters for password</p></div>
    <div *ngIf="password.errors?.['required'] && password.touched"><p style="color: red;">Please enter valid password</p></div>
    </div>
    
    </div>
     -->

     <!DOCTYPE html>
        <html lang="en">
        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Login</title>
          
          <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
        </head>
        <body >
          <div class="container">
            <div class="row justify-content-center mt-5">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h3><svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" fill="currentColor" class="bi bi-person-fill-lock" viewBox="0 0 16 16">
                      <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5v-1a2 2 0 0 1 .01-.2 4.49 4.49 0 0 1 1.534-3.693Q8.844 9.002 8 9c-5 0-6 3-6 4m7 0a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1"/>
                    </svg> Login</h3>
                  </div>
                  <div class="card-body">
                    <form #LoginForm="ngForm" (ngSubmit)="loginValidate(LoginForm.value)"><br>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input id="email" type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="email" required minlength="8" maxlength="30">
                        </div>
                        <div *ngIf="LoginForm.controls['email'].errors?.['required'] && LoginForm.controls['email'].touched"><p style="color:red;">Please enter valid email</p></div>
                        <div *ngIf="LoginForm.controls['email'].errors?.['minlength'] && LoginForm.controls['email'].touched"><p style="color: red;">Please enter at least 8 characters for email</p></div>
                        <div *ngIf="LoginForm.controls['email'].errors?.['maxlength'] && LoginForm.controls['email'].touched"><p style="color:red;">Please enter at most 20 characters for email</p></div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                          <input id="password" type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required minlength="4" maxlength="10">
                        </div>
                        <div *ngIf="LoginForm.controls['password'].errors?.['required'] && LoginForm.controls['password'].touched"><p style="color: red;">Please enter valid password</p></div>
                        <div *ngIf="LoginForm.controls['password'].errors?.['minlength'] && LoginForm.controls['password'].touched"><p style="color: red;">Please enter at least 4 characters for password</p></div>
                        <div *ngIf="LoginForm.controls['password'].errors?.['maxlength'] && LoginForm.controls['password'].touched"><p style="color:red;">Please enter at most 10 characters for password</p></div>
                      </div>
                      <!-- <ngx-recaptcha2 [siteKey]="sitekey"></ngx-recaptcha2> -->
                       <button type="submit" class="btn btn-primary btn-block" style="float: left;" >Login</button>
                      <!-- <a href="register" style="float: right;">I Don't Have Account?</a>  -->
                      <!-- <button type="submit" class="btn-submit" value="Login" style="float: left;">Login</button> -->
      
                     <a href="register"  style="float: right;margin-top: 10px; margin-right: 30px;"><h5>Don't have account?</h5></a>
      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </body>
        </html>