.container {
    margin-top: 20px;
  }

  /* Title styles */
  h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  /* Card styles */
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .card:hover {
    transform: scale(1.05);
  }

  /* Card title styles */
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Card text styles */
  .card-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
  }

  /* Button styles */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }