<div class="container mt-4">
    <h1>Cold Cofees with Indo & Americo Style :</h1><br>
    <div class="row">
      <div class="col-md-4" *ngFor="let coffee of coffees">
        <div class="card">
          <img [src]="coffee.image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ coffee.name }}</h5>
            <p class="card-text">{{ coffee.description }}</p>
            <p class="card-text">{{ coffee.price }}</p>
            <!-- Add To Cart button -->
            <button class="btn btn-primary" (click)="addToCart(coffee)">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>