/* cart.component.css */

.cart-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .cart-items {
    list-style-type: decimal;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 15px;
  }
  
  .cart-item-image {
    width: 100px;
    height: auto;
    margin-right: 10px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-title {
    margin: 0;
    font-size: 18px;
  }
  
  .cart-item-description {
    margin: 0;
    font-size: 14px;
  }
  