

<div class="cart-container mt-4">
  <h2>Shopping Cart</h2>
  <ul class="cart-items list-group">
    <li class="list-group-item" *ngFor="let item of cartItems">
     
      <div>
        <img [src]="item.image" class="cart-item-image" alt="Coffee Image">
        <div class="cart-item-details">
          <h5 class="cart-item-title">{{ item.name }}</h5>
          <p class="cart-item-description">{{ item.description }}</p>
          <p class="cart-item-description">{{ item.price }}</p>
          <button  routerLink="/buynow">Buy Now</button>
         
        </div>
      </div>
    </li>
  </ul>
</div>

