<h2 mat-dialog-title class="dialog-title">Message</h2>
<mat-dialog-content class="dialog-content">{{ data }}</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close class="dialog-close-btn">Close</button>
</mat-dialog-actions>
