/* Styles for the dialog container */
.dialog-container {
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Title styles */
  .dialog-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Content styles */
  .dialog-content {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  /* Close button styles */
  .dialog-close-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dialog-close-btn:hover {
    background-color: #0056b3;
  }
  
  /* Overlay styles */
  .mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mat-dialog-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  