/* table,th,td{
    border: 1px solid black;
} */
/* employee-table.component.css */

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto; /* Center the table */
  }
  
  th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  