
<!-- <h1 align="center" style="margin-top: 100px; margin-bottom: 50px;">Show Employees</h1>

    <table border="2" align="center" style="height:200px; width: 80%;">

    <th>EmpId</th>
    <th>EmpName</th>
    <th>EmpSalary</th>
    <th>Gender</th>
    <th>Date of Joining</th>
    <th>Email Id</th>
    <th>Password</th>
    <th>Experience</th>
    <th>Country Code</th> -->


    <!-- <tr>
        <td>{{employees[0].id}}</td>
        <td>{{employees[0].name | uppercase}}</td>
        <td>{{employees[0].salary | currency}}</td>
        <td>{{employee[0].gender}}</td>
        <td>{{employees[0].doj | date}}</td>
         <td>{{employees[0].Experience}}</td> 
        <td>{{employees[0].email Id}}</td>
        <td>{{employees[0].password}}</td>
    </tr>
    <tr>
        <td>{{employees[1].id}}</td>
        <td>{{employees[1].name | titlecase}}</td>
        <td>{{employees[1].salary | currency:"INR"}}</td>
        <td>{{employee[1].gender}}</td>
        <td>{{employees[1].doj | date:"short"}}</td>
        <td>{{employees[1].email Id}}</td>
        <td>{{employees[1].password}}</td>
    </tr>
    <tr>
        <td>{{employees[2].id}}</td>
        <td>{{employees[2].name}}</td>
        <td>{{employee[2].gender}}</td>
        <td>{{employees[2].salary | currency}}</td>
        <td>{{employees[2].doj |date:"medium"}}</td>
        <td>{{employees[2].email Id}}</td>
        <td>{{employees[2].password}}</td>

    </tr> -->


    <h1 align="center" style="margin-top: 100px; margin-bottom: 50px;">Customers Details</h1>

    <table border="2" align="center" style="height:200px; width: 80%;">

    <th>Id</th>
    <th>Name</th>
    <th>EmailId</th>
    <th>Password</th>
    <th>Gender</th>
    <th>country</th>
    <th>phonenumber</th>
    <th>city</th>
    <th>DELETE</th>
    <!-- <th>UPDATE</th> -->

    <!-- <th>Gender</th>
    <th>Date of Joining</th>
    <th>Email Id</th>
    <th>Password</th>
    <th>Experience</th>
    <th>Country Code</th> -->

    <tr *ngFor="let customer of customers" align="center">
        <td>{{customer.customerId}}</td>
        <td>{{customer.customerName}}</td>
        <td> {{ customer.email }} </td>
        <td> {{ customer.password }} </td>
         <td> {{ customer.gender }} </td>
         <td>{{customer.country}}</td>
         <td>{{customer.phoneNumber}}</td>
        
        <td>{{customer.city}}</td>
        <TD><button (click)="deleteEmp(customer.customerId)">DELETE</button></TD>
        <!-- <td><button onclick="updateCustomer()">UPDATE</button></td> -->
        <!-- <td> {{ emp.empId }} </td> -->
        <!-- <td> {{ emp.empName | gender:emp.gender }} </td> -->
        <!-- <td> {{ emp.salary}} </td> -->
        <!-- <td> {{ emp.gender }} </td>
        <td> {{ emp.doj }} </td>
        <td> {{ emp.emailId }} </td>
        <td> {{ emp.password }} </td>
        <td>{{emp.doj | experience}}</td>
        <td>{{ emp.country | countryCode}} </td> -->
    </tr>
</table>