<!-- 
      <div class="col-md-4">
        <div class="card">
          <img src="https://images.pexels.com/photos/733763/pexels-photo-733763.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="..." style="height: 425px;">
          <div class="card-body">
            <h5 class="card-title">Black Caffe Americano</h5>
            <p class="card-text">Espresso caffe are topped with water to produce a light laye...</p>
            <h5>MRP = 350</h5>
            <button>Add To cart</button>
          </div>
        </div>
      </div>
     
      <div class="col-md-4">
        <div class="card">
          <img src="https://th.bing.com/th/id/R.4fa78bb2163c86b54f3de494d9cf074d?rik=5A8uGjwz70IoKQ&riu=http%3a%2f%2feskipaper.com%2fimages%2fblack-coffee-cinnamon-1.jpg&ehk=yzl1fb9JNOlywz%2bBAddvsdOpU54bKWGaWmjdF0OJb1k%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="..." style="height: 420px;">
          <div class="card-body">
            <h5 class="card-title">Pour Over Indian Estate Blends</h5>
            <p class="card-text">Pour-over is a beautifully simple and accessible way to brew...</p>
            <h5>MRP = 400</h5>
            <button>Add To cart</button>
          </div>
        </div>
      </div>
     
       -->
       <div class="container mt-4">
        <h1>Cold Cofees with Indo & Americo Style :</h1><br>
        <div class="row">
          <div class="col-md-4" *ngFor="let coffee of coffees">
            <div class="card">
              <img [src]="coffee.image" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ coffee.name }}</h5>
                <p class="card-text">{{ coffee.description }}</p>
                <p class="card-text">{{ coffee.price }}</p>
                <!-- Add To Cart button -->
                <button class="btn btn-primary" (click)="addToCart(coffee)">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>