<h1 class="text-center mb-3" style="text-decoration: underline; color: cornflowerblue;">Products List</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let prod of products" style="text-align: center;">
            <div class="card" style="width:200px; height: 400px;">
                <img class="card-img-top" src="{{prod.imgSrc}}" alt="Card image" 
                        style="width:100%; height:100%;">
                <div class="card-body">
                    <h3 class="card-title">{{prod.prodName}}</h3>
                    <p class="card-text">{{prod.prodText}}</p>
                    <p class="card-text">Price : {{prod.price}}</p>
                    <!-- <p align="right"> -->
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    <!-- </p> -->
                </div>
            </div>
        </div>
    </div>
</div>