
    .card-title a {
      text-decoration: none; /* Remove underline */
      color: black; /* Set text color to black */
    }
    .card {
      border: 1px solid #ddd; /* Add a border */
      border-radius: 10px; /* Add rounded corners */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
      transition: transform 0.3s; /* Add a smooth transition effect on hover */
      cursor: pointer; /* Change cursor to pointer on hover */
    }
  
    .card:hover {
      transform: scale(1.05); /* Scale the card slightly on hover */
    }
  
    .card-body {
      text-align: center; /* Center align the content within the card body */
    }
  
    /* Optional: Add margin between cards */
    .col-md-4 {
      margin-bottom: 20px;
    }
  /* Add these styles to your existing CSS file or in a <style> tag in your HTML */

/* Navbar container styling */
.navbar {
    background-color: #343a40;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .navbar-nav  a.nav-link {
    color: black
  }
  
  
  /* Navbar links styling */
  .navbar-nav .nav-link {
    color: #ffffff; /* Text color */
    margin-right: 15px; /* Adjust the space between links */
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .navbar-nav .nav-link:hover {
    color: #17a2b8; /* Hover color */
  }
  
  /* Navbar toggle button styling */
  .navbar-toggler-icon {
    background-color: #ffffff; /* Toggle button color */
  }
  
  /* Active link styling */
  .navbar-nav .nav-item.active .nav-link {
    font-weight: bold; /* Make the active link bold */
  }
  
  /* Search form styling */
  form[role="search"] {
    margin-left: auto; /* Align search form to the right */
  }
  
  
  
  
   
  