
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <img src="assets/Images/cafe_caurosel.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Caffee Day Quotes</h5>
          <p class="card-text"><i><h3>You Cant't Buy Happiness But U Can Buy A Coffee...</h3></i></p>
        </div>
      </div>
    </div>
 
</div>


<div class="container mt-4">
  <div class="row">
    
    <div class="col-md-4 ">
      <div class="card">
        <a href="hot-coffee"><img src="https://th.bing.com/th?id=OIP.b2qiRjZYmw0RPgP_PILRQgHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" class="card-img-top" alt="..." style="height: 300px;"></a>
        <div class="card-body">
          <h2 class="card-title">
            <a href="hot-coffee">Hot Coffee</a></h2> 
        </div>
      </div>
    </div>
    
    
    <div class="col-md-4 ">
      <div class="card">
        <a href="caffee"><img src="https://th.bing.com/th?id=OIP.mvV32mS-GlvjKBRVecYs6wHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" class="card-img-top" alt="..." style="height: 300px;"></a>
        <div class="card-body">
          <h2 class="card-title">
          <a href="caffee">Cold Coffee</a></h2>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-4 ">
      <div class="card">
        <a href="black-coffee"><img src="https://th.bing.com/th?id=OIP.sxphRAolK5Q42_BPVPpH7AHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" class="card-img-top" alt="..." style="height: 300px;"></a>
        <div class="card-body">
          <h2 class="card-title">
            <a href="black-coffee" >Black Coffee</a></h2>
        </div>
      </div>
    </div>
    
    
    
  </div>
</div>
