.container {
  max-width: 90%;
  margin: 0 auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
}

.card-header h3 {
  margin: 0;
  font-size: 22px;
  color: #333;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.input-group-addon {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-right: none;
  padding: 8px 15px;
  border-radius: 5px 0 0 5px;
  width: 10%;
}

.form-control {
  border: 1px solid #ccc;
  border-left: none;
  height: 35px;
  border-radius: 0 5px 5px 0;
}

.btn-primary {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
  height: 30px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}